<div class="modal-dialog instagram-style-container" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="top-bar clearfix">
                <div class="modal-close">
                    <i class="fa fa-lg fa-chevron-left" aria-hidden="true" data-dismiss="modal" aria-label="Close"></i>
                </div>
                <div class="mobile-top-bar-title">
                    <h4 class="mobile-top-bar-title-content edit-title">Add a Campaign</h4>
                </div>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="cancel-text" aria-hidden="true">&times;</span>
            </button>
            <div class="header-title edit-title zion-create-campaign-header-title">Add a Campaign</div>
            <div class="create-campaign">
                <div class="header-balance">
                    <div class="row-container">
                        <span class="title">Your Balance:</span>
                        <span class="count balance_count">{{balance}}
                            <span class="currency">
                                {{digitalCurrencySign}}
                             </span>
                         </span>
                    </div>
                </div>
                <div class="not-enough zion-hide">
                    <p>
                        Uh oh! you don't have enough credit. You need at least <span class="important">{{cost}}&nbsp;{{digitalCurrencySign}}</span>
                        coins to create a campaign.
                    </p>
                    <p>
                        Earn coins now by participating in other campaigns.
                    </p>
                    <div class="btn btn-default zion-btn-white not-enough-btn">
                        Participate in campaigns
                    </div>
                </div>
                <div class="create-campaign-container">
                    <div class="campaign-container zion-form">
                        <div class="form-group">
                            <label for="campaign-title" class="mandatory">Enter a campaign name</label>
                            <div class="zion-input-error-text zion-hide" id="title-error"></div>
                            <input type="text" class="form-control canDisable" id="campaign-title"
                                   placeholder="5 outfits options for San Valentine's day."
                                   aria-describedby="link-title"
                                   value="{{campaignName}}">
                        </div>
                        <div class="url">
                            <div class="form-group">
                                <label for="basic-url" class="mandatory">Insert the link you want to promote (Instagram,
                                    Facebook, Youtube, blog post url)</label>
                                <div class="zion-input-error-text zion-hide" id="link-error">You must input a valid
                                    link.
                                </div>
                                <input type="text" class="form-control url-input canDisable" id="basic-url"
                                       aria-describedby="link-title"
                                       placeholder="https://www.instagram.com/p/xxxxxxxxxxxx"
                                       value="{{campaignUrl}}">
                            </div>
                        </div>

                        <div class="preview zion-hide">
                            <div class="thumbnail">
                                <img class="preview-image zion-hide" src="{{previewUrl}}" alt="Preview">
                                <div class="caption">
                                    <div class="title">
                                        <img class="preview-icon" src="{{previewIcon}}" alt="">
                                        <h3 class="preview-title">{{previewTitle}}</h3>
                                    </div>
                                    <p class="preview-description">{{previewDesc}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <div class="form-group">
                                <label for="description">Write a campaign description (Optional)</label>
                                <textarea type="text" class="form-control canDisable" id="description"
                                          placeholder="Please help me promote my post about Valentine's day. Like and comment what you think about my outfits in my latest youtube video."
                                          aria-describedby="link-title">{{campaignDesc}}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mandatory">Select campaign objective</label>
                            <div class="promotion-methods">
                                {{#each subTasks}}
                                    <div class="radio">
                                        <label>
                                            <input type="radio" class="canDisable" name="method"
                                                   value="{{this.id}}" {{#if @first}}checked{{/if}}>{{this.description}}
                                        </label>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="save-button-container">
                            <div class="row">
                                <div class="col-sm-6">
                                    This campaign costs {{cost}}&nbsp;{{digitalCurrencySign}} coins.
                                </div>
                                <div class="col-sm-6">
                                    <div class="btn btn-default zion-btn-black btn-block submit">
                                        Create Campaign
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="introduce-container">
                        <p>
                            <span class="important">IMPORTANT</span>: Your campaign will be active for <span
                                class="important">{{lifespan}}</span> hours. Influencers and fans will be able to
                            participate in your campaign and {{appConfig.brandName}} will pay up to {{systemPaidMaxCoinAmount}}&nbsp;{{digitalCurrencySign}} coins
                            each for accomplishing the
                            desired objective.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>