{{#each data}}
    <div class="zion-campaign-participant">
        <a href="{{participant.profileUrl}}" target="_blank"><img class="zion-campaign-avatar img-circle img-responsive avatar" src="{{participant.avatar}}" alt="{{participant.displayName}}"></a>
        <span class="zion-campaign-participant-name">{{participant.displayName}}</span>
        <span class="zion-campaign-reword">{{amount}}</span>
    </div>
{{/each}}