<div class="media recommend-item" data-id="{{id}}">
    <div class="media-left">
        <div class="icon-container">
            <img class="media-object" src="{{imageUrl}}" alt="" id="recommend-cover-{{id}}">
        </div>
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{title}}</h4>
        <span class="author">{{author}}</span> |
        <span class="date">{{date}}</span>
    </div>
</div>
<div class="line"></div>