{{#if isDeleted}}
    <div class="zion-error-message-modal-container">
        <p class="error-title">
            Uh Oh!
        </p>
        <p class="error-message">
            This campaign has been <b>DELETED</b> by the Author. Click the button below to return to {{appConfig.brandName}}.
        </p>
        <p class="error-message">
            If you are still having problems, contact us at <a
                href="mailto:{{emailHelper}}"><b>{{emailHelper}}</b></a> and our friendly support team
            will get
            back to you shortly.
        </p>

        <div class="btn btn-default zion-btn-white homepage-btn">
            Back to {{appConfig.brandName}}
        </div>
    </div>
{{else}}

    <div class="zion-campaign-status-container">
        <span class="label {{#if campaignStatus}}{{campaignStatus.cssClass}}{{/if}}">{{#if
                campaignStatus}}{{campaignStatus.value}}{{/if}}</span>
    </div>
    <h4 class="zion-campaign-title-content">
        {{title}}
    </h4>
    <p class="zion-campaign-create-date-time">
        {{dateTimeFormat creationDate}}
    </p>
    <div class="zion-campaign-author-info-container">
        <a href="{{creator.profileUrl}}" target="_blank"><img
                class="user-profile-link img-circle img-responsive zion-campaign-avatar"
                src="{{creator.avatar}}"
                alt="avatar"/></a>
        <span class="user-profile-link zion-campaign-author-name"
              title="{{creator.displayName}}">By {{creator.displayName}}</span>
    </div>
    <div class="campaign-image-container">
        {{#if postUrlPreview.image}}
            <img class="zion-campaign-image img-responsive center-block"
                 src="{{postUrlPreview.image}}"
                 alt="">
        {{/if}}
    </div>
    <blockquote class="zion-campaign-source-container">
        <div class="row">
            {{#if postUrlPreview.favicon}}
                <img class="zion-campaign-source-icon" src="{{postUrlPreview.favicon}}"
                     alt="social source icon">
            {{else}}
                <i class="fa fa-link zion-campaign-source-icon" aria-hidden="true"></i>
            {{/if}}
            {{#if postUrlPreview.title}}
                <p class="zion-campaign-source-title">
                    {{postUrlPreview.title}}
                </p>
            {{/if}}
        </div>
        {{#if postUrlPreview.description}}
            <p class="zion-campaign-source-description">
                {{postUrlPreview.description}}
            </p>
        {{else}}
            <p class="zion-campaign-source-description">
                {{ postUrlPreview.url }}
            </p>
        {{/if}}
    </blockquote>

    {{#if description}}
        <p class="zion-campaign-description">
            {{description}}
        </p>
    {{/if}}
    <hr/>
    {{#if disabled}}
        <a href="{{postUrlPreview.url}}" class="zion-link-sm" target="_blank">View Original Post</a>
    {{/if}}
    <div class="promote-action-section">
        <div class="{{#if disabled}}zion-disabled {{/if}}">
            <h4 class="zion-campaign-subtitle">How to participate</h4>
            <p class="zion-campaign-rule">
                1. Click on the button below. A new window will open.
            </p>
            <p class="zion-campaign-rule">
                2. {{ taskType.description }}
            </p>
            <p class="zion-campaign-rule zion-highlight">
                3. Once you are done, come back to this page to claim your {{coinName}} coins reward.
            </p>
        </div>
        <div class="zion-campaign-promote-btn-container" id="zion-campaign-promote-btn-container">
            {{#if isMine}}
                <div class="btn btn-default zion-btn-white campaign-share-btn">
                    Invite My Friends
                </div>
                <div class="user-share-container">
                    <div id="zion-campaign-social-share-container"
                         class="zion-campaign-social-share-container zion-social-share-plugin-container"
                         data-share-url="{{shortUrl}}"
                         data-share-title="{{title}}" data-share-description="{{content}}"
                         data-share-image="{{photo.url}}"></div>
                </div>
            {{else}}
                {{#if taskType.isShare}}
                    <button class="zion-campaign-promote-btn btn zion-btn-black {{#if
                            disabled}}zion-disabled {{/if}}"
                            id="zion-campaign-promote-btn" {{#if disabled}} disabled{{/if}}>
                        {{ taskType.description }}
                    </button>
                {{else}}
                    <a class="zion-campaign-promote-btn btn zion-btn-black {{#if
                            disabled}}zion-disabled {{/if}}" id="zion-campaign-promote-btn"
                       href="{{#if disabled}}javascript:void(0);{{else}}{{postUrlPreview.url}}{{/if}}"
                       target="_blank">
                        {{ taskType.description }}
                    </a>
                {{/if}}
            {{/if}}
        </div>
    </div>
    <hr/>
    <div class="campaign-history-container">
        <h4 class="zion-campaign-subtitle">Campaign participants</h4>
        <div id="campaign-participants" class="campaign-participants"></div>
        <div class="zion-loading"></div>
        <div class="load-more-button-container zion-hide" id="participants-load-more-button-container">
            <span class="participants-load-more-button load-more-button" id="participants-load-more-button">View all participants</span>
        </div>
        <div id="loading-participants-error" class="loading-participants-error alert alert-danger zion-hide"
             role="alert">
        </div>
    </div>
{{/if}}