<div class="account-campaign panel panel-default">
    <div class="account-info-container">
        <div class="title">Account</div>
        <div class="account">
            <div class="account-row-container income">
                <div class="account-title">
                    Income
                </div>
                <div class="amount income-amount">{{income}}&nbsp;{{currencyName}}</div>
            </div>
            <div class="account-row-container expense">
                <div class="account-title">
                    Expense
                </div>
                <div class="amount expense-amount">-&nbsp;{{expense}}&nbsp;{{currencyName}}</div>
            </div>
            <hr class="line">
            <div class="account-row-container balance">
                <div class="account-title">
                    Balance
                </div>
                <div class="amount balance-amount">{{balance}}&nbsp;{{currencyName}}</div>
            </div>
        </div>
    </div>
</div>